.image{
  display: block;
  margin: auto;
  padding-top: 100px;
}
.input{
  display: block;
  margin: auto;
  top:auto;
}
li{
  float: right;
}
.licolor{
  color:white;
  background-color: blue;
}
ul{
  list-style-type:  none;
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  margin: auto;
}
li,a{
  display: block;
  padding: 8px;
}
div{
  display: block;
  margin:auto;
  text-align: center;

}
.footer{
  bottom: 0;
  top: auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
